@font-face {
    font-family: minecraft;
    src: url(fonts/Minecraft.ttf);
  }

body {
    display: flex;
    flex-direction: row;
    font-family: minecraft;
    height: 100vh;
    margin: 0px;
}

#game {
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#title {
    height: 10%;
}

#board_container {
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plot {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(1px, auto);
}

#money {
    height: 10%;
}

#selectedSpace {
    position: absolute;
    top: 50%;
    left: 100px;
}

#menu {
    width: 40%;
    background-color: rgb(199, 199, 199);
    display: flex;
    flex-direction: row;
}

#menu > * {
    text-align: center;
}

#inventory {
    width: 50%;
}

#inventory_title {
    height: 10%;
}

#inventory_contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inventory_contents > * {
    flex: 1;
    height: 7%;
    margin: 5px;
    padding: 5px;
}

.hovering {
    background-color: gray;
}

.selected {
    background-color: gray;
    border-color: black;
    border-width: 1px;
    border-style: solid;

}

.slot {
    /* position: fixed; */
    /* padding: 10px; */
}

.plant {
    color: green;
}

#market {
    width: 50%;
}

#harvestAll {
    margin: 5px;
}
